<div class="container-fluid">

  <h4>Simple ORM Benchmark</h4>

  <div class="row">
    <div class="list-group">
      <a href="<%=  url_for :controller => PropertyBagModel %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        PropertyBag Model
      </a>
      <a href="<%= url_for :controller => FixedSchemeModel %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        FixedScheme Model
      </a>
    </div>
  </div>

</div>
